* {
  box-sizing: border-box;
}

html, body {
  height: 100%
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

body > main {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "intro results" "input results";
  justify-items: stretch;
  align-items: stretch;
  gap: 2em;
  padding: 1.5em 2em;
  min-height: 0;
}

body > main > * {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

details > * {
  max-height: 14em;
  overflow: auto;
}

@media screen and (max-width: 1058px) {
  body > main {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "intro" "input" "results";
  }

  html, body, body > main {
    height: auto;
  }
}

#intro_wrapper { grid-area: intro; }
#input_wrapper { grid-area: input; }

form > div {
  margin-bottom: 1em;
}

#results_wrapper {
  border-top: 1px solid black;
  grid-area: results;
  overflow-y: auto;
}
#results_wrapper table {
  min-width: 100%;
}

.result {
  border-bottom: 1px solid black;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4em 1fr 6em;
  grid-template-areas: "a b c";
}

.result > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  padding: 0.5em;
}

#results > div > div:nth-child(1) {
  background-color: #ede5d2;
  grid-area: a;
}

#results > div > div:nth-child(2) {
  grid-area: b;
}

#results > div > div:nth-child(3) {
  grid-area: c;
}

#results > div h3, #results > div p {
  margin: 0;
}

@media screen and (max-width: 600px) {
  #results_wrapper {
    margin-left: -1em;
    margin-right: -1em;
  }

  .result {
    grid-template-columns: 1fr auto;
    grid-template-areas: "a c" "b b";
  }

  .result > div:nth-child(1) {
    flex-direction: row;
  }

  .result > div:nth-child(3) {
    background-color: #ede5d2;
  }
}

.search-group {
  /* match input font size */
  font-size: 0.83em;

  /* make results "float" */
  position: relative;
}

.search-group input {
  width: 100%;
}

.search-group ol {
  background-color: white;

  /* remove list markup */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* make results "float" */
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
}

.search-group:not(:focus-within) ol {
  display: none;
}

.search-group ol li {
  padding: 0.5em;
  border: solid grey;
  border-width: 0 1px 1px 1px;
  position: relative;
}

.search-group ol li button {
  /* remove styles */
  border: none;
  background: transparent;

  /* span entire item */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.search-group ol li button:hover {
  background-color: rgba(0, 0, 0, 5%);
}

.search-group ol li button:focus {
  background-color: rgba(0, 0, 0, 10%);
}

.search-taxon-main, .search-taxon-sub {
  display: flex;
  gap: 0.5em;
}

.search-taxon-rank {
  text-decoration: underline;
}

.search-taxon-sub {
  color: grey;
  overflow-x: hidden;
  white-space: nowrap;
}

.search-taxon-name {
  font-style: italic;
  font-weight: bold;
}
